body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.links {
  display: inline;
}

.profile {
  width: 13em;
  border-radius: 250%;
  position: center;
  display: block;
  margin: 0 auto;
}

.about {
  padding-top: 10px;
  text-align: center
}

.intro {
  text-align: center;
}

/* .graphic {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU7ItEb8CmClsHxiWLws-D8UeQvcevxGp04EhI5j-yJcaBMOKU) ;
  /* no-repeat, center, fixed 

} 
*/