body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.links {
  display: inline;
}

.profile {
  width: 13em;
  border-radius: 250%;
  position: center;
  display: block;
  margin: 0 auto;
}

.demo {
  width: 32em;
  /* border-radius: 250%; */
  position: center;
  display: block;
  margin: 0 auto;
}

/* START OF FONT FAMILY*/

/* HOME SECTION */

.intro {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.sub-headline {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 5em;
}

/* ABOUT SECTION */

.about {
  padding-top: 10px;
  text-align: justify;
  text-align-last: center;
}

.Abouttitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Subheadline {
  font-family: "Open Sans", sans-serif;
  font-weight: 450;
  font-size: 1.5em;
}

.Aboutcopy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.passions {
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
}

.passionslist {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* SKILLS SECTION */

.Skills {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Strategy-headline {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.strategic_content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Analytics-headline {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.data_content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Developer-headline {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.dev_content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.PM-headline {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.PM_content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* PORTFOLIO SECTION */

.portfolio {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.portfolio-copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Carousel {
  height: 100%;
}

.BofA {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.BofA-copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Pro_Events {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Pro_Events_copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.CGD {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.CGD_copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Novartis {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Novartis_copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.KS {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.KS_copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Tonus {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Tonus_copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* CONTACT SECTION */

.Contact {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.contact_content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* FOOTER SECTION */
.Footer-copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* END OF FONT FAMILY */

.intro {
  text-align: center;
}

.Footer {
  position: absolute;
}

.graphic {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/14/65/3256657136926fa.jpg);

  background-position: center absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11em;
}

.intro {
  white-space: nowrap;
  overflow: hidden;
  font-size: 2.7em;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 2.7em;
}

/* .sub_intro {
  white-space: nowrap;
  overflow: hidden; 
} */

.web_app {
  white-space: nowrap;
  overflow: hidden;
  text-align: justify;
  text-align-last: center;
}

/* .strategic_content {
  text-align: justify;
  text-align-last: center 
}

.data_content {
  text-align: justify;
  text-align-last: center 
}

.web_content {
  text-align: justify;
  text-align-last: center 
}

.contact_content {
  text-align: justify;
  text-align-last: center 
} */

.portfolio {
  padding-top: 5%;
}

.work {
  margin-top: -3%;
}

/* START OF MENU FONT COLOR */

.material-icons {
  color: #2196f3;
}

.homebtn {
  /* color: #2196f3; */
}

.resumebtn {
  color: #2196f3;
}

.contactbtn {
  color: #2196f3;
}

/* END OF MENU FONT COLOR */

/* START OF ICON SIZES */

.strategy {
  max-width: 4.25em;
}

.data {
  max-width: 5.4em;
}

.app {
  max-width: 5em;
}

.PM-rocket {
  max-width: 5.2em;
}

.gmail {
  max-width: 2em;
}

.linkedin {
  max-width: 2em;
}

.instagram {
  max-width: 2em;
}

.github {
  max-width: 2em;
}

.menulogo {
  max-width: 2em;
  padding-top: 0.3em;
}

/* Start of video styling */

/* .iframe-container {
  position: relative;
  width: 100%;
 
  padding-bottom: 50%;
  height: 0%;
}
.iframe-container iframe {
  position: absolute;

  left: 0;
  width: 100%;
  height: 85%;
} */
