body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.links {
  display: inline;
}

.profile {
  width: 13em;
  border-radius: 250%;
  position: center;
  display: block;
  margin: 0 auto;
}

.about {
  padding-top: 10px;
  text-align: justify;
  text-align-last: center
}

.intro {
  text-align: center;
}

.Footer {
  position: absolute;
}

.graphic {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/14/65/3256657136926fa.jpg);
  background-position: center absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11em;
}

.intro {
  white-space: nowrap;
  overflow: hidden; 
  font-size: 2.7em;
}

.title {
  white-space: nowrap;
  overflow: hidden; 
  font-size: 2.7em;
}

.sub_intro {
  white-space: nowrap;
  overflow: hidden; 
}

.web_app {
  white-space: nowrap;
  overflow: hidden; 
  text-align: justify;
  text-align-last: center
}

/* .strategic_content {
  text-align: justify;
  text-align-last: center 
}

.data_content {
  text-align: justify;
  text-align-last: center 
}

.web_content {
  text-align: justify;
  text-align-last: center 
}

.contact_content {
  text-align: justify;
  text-align-last: center 
} */

.portfolio {
  padding-top: 5%;
}

.work {
  margin-top: -3%;
}

.about {
  margin-top: .95%
}